# Node modules
node_modules/

# Test output & reports
test-results/
playwright-report/
test-output/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VS Code project files
.vscode/
